* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-content {
    background-color: #ccc;
    flex: 3;
    padding: 20px;
}

.aside-content {
    background-color: white;
    flex: 1;
    padding: 20px;
    border-left: 2px solid #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}